.container {
  margin: auto;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #3b76dc;
}

.playball-regular {
  font-family: "Playball", cursive;
  font-weight: 800;
  font-style: normal;
}

.header {
  background: #3b76dc;
  margin: -0.3em 0 0 -0.3em;
  padding: 1em 1em;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.dogs-list {
  list-style: none;
  padding: 0.5em;
}

.main {
  display: flex;
  padding: auto;
}

.infodiv {
  padding-left: 1em;
}

.prsentdiv,
.homelink {
  padding: 1em;
}

button {
  margin: 0.5em;
  background: #3b76dc;
  color: white;
  border-radius: 0.5em;
  border-style: none;
  padding: 0.5em;
  font-weight: 600;
}
.form-group {
  margin-bottom: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}
